{% extends "accounts/email_onboard_base.html" %}
{% block greeting %}Refine &amp; Resubmit Your Idea Before 15th November{% endblock %}
{% block intro %}Congratulations on making it to the TOP 400! Now it's time to make your idea even stronger. Use the expert mentorship and feedback you've received to refine and resubmit your idea before 15th November for a chance to advance to the TOP 100.{% endblock %}
{% block credentials %}{% endblock %}
{% block content %}
<tr>
  <td style="padding:4px 32px 0 32px;">
    <p style="margin:0; font-size:14px; font-weight:700; color:#1e1b2e;">Log In &amp; Resubmit Your Idea</p>
  </td>
</tr>
{% endblock %}
{% block button_href %}https://www.indiafuturetycoons.com/accounts/sign-in/{% endblock %}
{% block button_label %}Log In{% endblock %}
{% block security_note %}{% endblock %}
