{% extends "accounts/email_onboard_base.html" %}
{% block greeting %}Congratulations!{% endblock %}
{% block intro %}You have successfully registered for IFT.<br><br>You are now a part of India's First-ever Entrepreneurship Search &amp; Mentorship Program. Get set to experience a journey full of innovation, learning, &amp; skill-building that will transform how you think!<br><br>We are here to guide you every step of the way!{% endblock %}
{% block credentials %}{% endblock %}
{% block content %}
<tr>
  <td style="padding:4px 32px 0 32px;">
    <p style="margin:0; font-size:14px; font-weight:700; color:#1e1b2e;">Log In To Your Dashboard Now</p>
  </td>
</tr>
{% endblock %}
{% block button_href %}https://www.indiafuturetycoons.com/accounts/sign-in/{% endblock %}
{% block button_label %}Log In{% endblock %}
{% block security_note %}{% endblock %}
